# ------------------------
# Frontend
# ------------------------

frontend/node_modules/
frontend/dist/

# v0 sandbox internal files
frontend/__v0_runtime_loader.js
frontend/__v0_devtools.tsx
frontend/__v0_jsx-dev-runtime.ts

frontend/.snowflake/
frontend/.v0-trash/
frontend/.vercel/

# Environment variables
frontend/.env*.local


# ------------------------
# Backend
# ------------------------

backend/venv/
backend/__pycache__/

backend/*.pyc
backend/*.pyo
backend/*.pyd

backend/.env


# ------------------------
# OS files
# ------------------------

.DS_Store
Thumbs.db


# ------------------------
# Editor
# ------------------------

.vscode/
.idea/